*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
.features-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 91px;
}
.text {
	text-align: center;
}
.features-img {
	margin-bottom: 20px;
	width: 60px;
}
.features-text {
	font-style: 18px;
	font-weight: 400;
	line-height: 22px;
}
.features {
	padding-bottom: 90px;
	background: white;
}
.block2 .container-fluid {
	background-image: url('img/block2/slide-1.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100%;
}
.block2 {
	height: 100vh;
}
.block2-bg {
	background-color: rgba(126, 192, 238, 0.5);
	height: 100vh;
}
.block2-text h3 {
	font-size: 45px;
	margin-top: 100px;
	color: #fff;
}
.block2-text h5 {
	font-size: 30px;
	margin-top: 30px;
	color: #fff;
}
.block2-text p {
	font-size: 25px;
	color: #fff;
}
.block3-title {
	font-size: 35px;
	font-weight: 700;
	line-height: 27px;
	text-align: center;
	padding-top: 90px;
	margin-top: 0;
	margin-bottom: 70px;
}
.block3 h3 {
	font-size: 36px;
	font-weight: 600;
	line-height: 27px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 40px;
}
.block3 p {
	font-size: 22px;
	font-weight: 500;
}
.block3 {
	padding-bottom: 80px;
	background: #F8F8F8;
}
.block-4 {
	padding-top: 60px ;
	background-color: white !important;
	font-size: 16px;
}
.block-4 span {
	color: red;
	font-size: 18px;
}
.block-4 h3 {
	text-align: center;
	font-size: 30px;
	
}
.block-4 p {
	text-align: center;

}
.okno {
	height: 500px;
	background: transparent;
}
.fixedfon {
	background: #555 url(img/setwalls.ru-14288.jpg) center top no-repeat;
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: -201;
}
.block-4 {
	background: #E5BCBC;
}
.form-bg {
	background-image: url('img/subscribe-block-bg.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right center;
	margin-top: 50px;
}
.form {
	width: 100%;
	height: 500px;
	text-align: center;
}
.form h3 {
	color: white;
	font-size: 30px;
	font-weight: 500px;
	line-height: 1.2;
	margin-top: 90px;
}
.form p {
	font-size: 22px;
	font-style: italic;
	color: white;
	margin-bottom: 30px;
}
.email, .name {
	font-size: 15px;
	border-radius: 3px;
	background-color: #fff;
	padding: 0px 0.4em;
	width: 350px;
	vertical-align: top;
	margin-bottom: 8px;
	height: 35px;
}
.form-but {
	padding: 8px 24px;
	color: white;
	background-color: #29292E;
	border-radius: 3px;
	border: #232326;
	margin-bottom: 20px;
	margin-right: 10px;
}
.res {
	background-color: #B02020;
	border: #A72424;
}
.form-but:hover {
	transform: scale(1.1);
	transition: 1s;
}
.footer {
	background-color: #373842;
}
.footer p {
	color: white;
}
.footer h3 {
	color: white;
}
.footer-menu {
	margin-top: 20px;
	text-align: center;
}
.footer-menu a{
	color: white;
}
.footer-menu a:hover{
	color: black;
	text-decoration: none;
}
.footer-list {
	list-style-type: none;
	font-size: 20px
}
.social-block {
	text-align: center;
	margin-top: 40px;
}
.social-block a {
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
}
.social-block a:hover {
	transform: scale(1.05);
}
.allres {
	text-align: center;
}
.allres img {
	width: 30px;
}
.allres p {
	margin-bottom: 0;
	color: black;
}
